{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Name</th>
            <th>Image</th>
            <th>Tags</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.category }}</td>
                <td>{{ product.name }}</td>
                <td><img src="/images/product/{{ product.image }}" style="width: 50px;"/></td>
                <td>{{ product.tags }}</td>
                <td>{{ product.price }}</td>
                {#<td>{{ product.stock }}</td> #}
                <td>
                    <ul>


                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_product_delete', { 'id': product.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
